#loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgb(168,175,235); /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#loaddiv{
    text-align: center;
}

#loaddivcart{
    text-align: center;
}